html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    background: url('../images/background.jpg') no-repeat left top;
    background-size: cover;
    overflow: hidden;
}

#logo {
    background: url('../images/logo.png') no-repeat left top;
    width: 100px;
    height: 60px;
    float: left;
}

.focused {
    border-bottom: 3px solid orange !important;
}